li {
  list-style: none;
}
.ss-list .people .list-person {
  border: 1px solid #c4c4c4;
  padding: 10px 5px;
}
.ss-list .people .list-person:first-child {
  border-bottom: none;
}
.personal-bio dt {
  margin-top: 10px;
  font-size: 24px;
}
.personal-bio:first-child {
  margin-top: 0;
}
